@media (min-width: 992px) {
	.navbar-nav {
		margin-top: 9px;
		margin-left: 9.2%;
	}
	.hamburger {
		display: none;
	}

	.container-xxl {
		padding-top: 29px;
		max-width: 1850px;
		width: 100%;
	}

	.slide {
		padding-top: 163px;
		padding-bottom: 228px;
		padding-left: 96px;
		padding-right: 92px;
	}

	.first-screen-title {
		margin-left: 77px;
	}

	.first-screen-subtitle {
		margin-left: 81px;
		margin-top: 11px;
		margin-bottom: 37px;
	}

	.btn-secondary {
		margin-left: 80px;
	}

	.calculation {
		.container {
			padding-left: 90px;
			.title-primary {
				text-align: left;
				max-width: 700px;
				width: 100%;
				padding-top: 97px;
				padding-bottom: 54px;
			}
			.calculation-form {
				padding-top: 53px;
				padding-bottom: 36px;
				padding-left: 50px;
				padding-right: 50px;
				max-width: 626px;
				width: 100%;
				.input-row {
					.input-column {
						max-width: 248px;
						&.file-cont {
							max-width: 526px;
						}
						.input-box {
							display: flex;
							flex-direction: column;
						}
					}
				}
				.check-cont {
					.checkbox-padding {
						margin-top: 15px;
						margin-left: 2px;
						margin-bottom: -6px;
					}
				}
				.file-cont {
					padding-bottom: 6px;
					margin-top: 6px;
				}
			}
		}
	}

	.advantages {
		margin: 0 auto;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background: #363a4d;
			border-radius: 20px;
			top: 0;
			margin: 0 auto;
			max-width: 1850px;
			height: 100%;
			left: 43px;
			right: 43px;
			z-index: -1;
		}
		.container {
			padding-top: 97px;
			padding-bottom: 33px;
			margin: 113px auto 0px;

			.advantages-title {
				margin: 0 auto 56px;
			}
			.row {
				padding-left: 60px;
				padding-right: 60px;
				.advantages-box {
					margin-bottom: 38px;
					.box-img {
						margin-bottom: 15px;
					}
					.box-description {
					}
				}
			}
		}
	}

	.delivery {
		.container {
			padding-top: 97px;
			.delivery-title {
				margin: 0 auto 49px;
			}
			.delivery-cards {
				max-width: 1320px;
				padding: 0 67px 0 67px;
				.delivery-cardbox {
					.cardbox-info {
						margin-bottom: 3px;
					}

					.cardbox-price {
						margin-bottom: 18px;
					}

					.cardbox-btn {
						.btn {
							max-width: 153px;
							width: 100%;
						}
					}
				}
			}
		}
	}

	.services {
		margin-top: 99px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background: #363a4d;
			border-radius: 20px;
			margin: 0 auto;
			top: 0;
			max-width: 1850px;
			height: 100%;
			left: 43px;
			right: 43px;
			z-index: -1;
		}
		.container {
			padding-top: 92px;
			padding-bottom: 81px;

			.services-title {
				text-align: center;
				margin: 0 auto 55px;
			}
			.services-cards {
				padding: 0 67px 0 67px;
				max-width: 1320px;
				.services-cardbox {
					max-width: 360px;
					padding-top: 250px;
					padding-bottom: 33px;
					padding-left: 30px;
					margin-bottom: 20px;
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.company-info {
		padding-top: 152px;
		padding-bottom: 113px;
		.container {
			padding-left: 92px;
			.company-info-title {
				margin-bottom: 43px;
				h2::after {
					margin: 17px 0;
				}
			}
			.company-info-description {
				max-width: 555px;
				font-size: 18px;
				font-weight: 300;
				line-height: 170%;
				p {
					margin-bottom: 24px;
					strong {
						font-weight: 400;
					}
				}
			}
			.company-info-img {
				position: absolute;
				top: -58px;
				right: 90px;
				.info-img {
					max-width: 550px;
					width: 36vw;
				}
			}
		}
	}

	.questions {
		.container {
			.questions-title {
				text-align: center;
				margin-bottom: 49px;
			}
			.questions-content {
				display: flex;
				justify-content: space-between;
				padding: 0px 80px;
				.accordion {
					display: flex;
					flex-direction: column;
					max-width: 716px;
					width: 100%;
					border-color: #3a444e;
					.accordion-item {
						background: none;
						margin-bottom: 13px;
						border-radius: 10px;
						border: 1px solid #3a444e;
						.accordion-header {
							display: flex;
							align-items: center;
							height: 64px;
							padding-left: 13px;
							.accordion-button {
								font-size: 18px;
								&::after {
									right: 20px;
								}
							}
							.accordion-button:not(.collapsed)::after {
								right: 20px;
							}
						}
						.accordion-collapse {
							.accordion-body {
								max-width: 583px;
								width: 100%;
								padding-left: 34px;
								padding-top: 0;
								font-size: 17px;
							}
						}
					}
					.active-bg {
						background: #fff;
						.accordion-header {
							.accordion-button {
								color: #000;
							}
						}
					}
				}
			}
			.user-message {
				padding: 37px 35px 39px 45px;
				display: flex;
				flex-direction: column;
				max-width: 390px;
				width: 100%;
				background: #363a4d;
				border-radius: 20px;
				.message-title {
					font-size: 24px;
					font-weight: 700;
					line-height: 126%;
					margin-bottom: 8px;
				}
				.message-description {
					font-size: 17px;
					font-weight: 300;
					line-height: 126%;
					margin-bottom: 23px;
				}
				label {
					display: none;
				}
			}
		}
	}

	.colaboration {
		margin-top: 98px;
		padding-top: 92px;
		padding-bottom: 80px;
		&::before {
			border-radius: 20px;
			left: 43px;
			right: 43px;
		}
		.container {
			padding-left: 93px;
			padding-right: 88px;
			.colaboration-title {
				margin-bottom: 92px;
				h2 {
					line-height: 135%;
					&::after {
						background-color: #89c249;
					}
					span {
						p {
							font-size: 24px;
							font-weight: 400;
							text-transform: lowercase;
							margin-bottom: 0;
							&::first-letter {
								text-transform: uppercase;
							}
						}
					}
				}
			}
			.colaboration-content {
				display: flex;
				flex-direction: column;
				.second-part {
					ul {
						padding-top: 25px;
						li {
							&:last-child {
								list-style-type: none;
								max-width: 243px;
								width: 100%;
								padding-top: 14px;
								margin-left: -11px;
							}
						}
					}
				}
			}
			.content-part {
				display: flex;
				justify-content: space-between;
				margin-bottom: 6px;
				ul {
					max-width: 528px;
					width: 100%;
					li {
						font-size: 17px;
						font-weight: 300;
						line-height: 156.5%;
						margin-bottom: 28px;
					}
				}
				.content-img {
					img {
						max-width: 555px;
						width: 100%;
						height: 406px;
						border-radius: 20px;
						object-fit: cover;
						object-position: center;
						filter: drop-shadow(5px 15px 40px rgba(11, 24, 97, 0.32));
					}
				}
			}
		}
	}

	.footer-container {
		&:before {
			content: "";
			position: static;
			display: inline-block;
			max-width: 1140px;
			width: 100%;
			height: 2px;
			background-color: #e58d35;
			margin: 0 auto;
		}
		.footer-nav {
			display: flex;
			justify-content: space-between;
			.footer-navbar {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
