.calculation {
	overflow-x: clip;
	.container {
		position: relative;
		.title-primary {
			position: relative;
		}
		.calculation-form {
			background-color: #363a4d;
			border-radius: 20px;
		}
		.calculation-img-cont {
			position: absolute;
			bottom: -113px;
			right: 68px;
			.calculation-img {
				max-width: 560px;
				width: 36vw;
			}
		}
	}
}

.input-row {
	display: flex;
	justify-content: space-between;
}

.input-box {
	margin-bottom: 20px;
}

label {
	font-weight: 600;
	line-height: 126%;
	margin-bottom: 6px;
}

#regist,
#insurance,
#file {
	display: none;
}

[for="regist"],
[for="insurance"] {
	margin-left: 33px;
}

.file-cont {
	max-width: 526px;
}

[for="file"] {
	max-width: 526px;
	width: 100%;
	margin-top: 10px;
	height: 42px;
	width: 100%;
	border: 1px dashed rgba(255, 255, 255, 0.26);
	border-radius: 10px;
	text-align: center;
	padding-top: 12px;
}

.checkbox-padding {
	position: relative;
}
