.container-xxl {
	margin: 0 auto;
	position: relative;
}

.slide {
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.first-screen-title {
	max-width: 463px;
	width: 100%;
}

.first-screen-subtitle {
	max-width: 320px;
	width: 100%;
}

.first-screen-nav {
	display: flex;
	justify-content: space-between;
	max-width: 1540px;
	width: 100%;
	position: absolute;
	top: 52%;
	transform: translate(-50%, -50%);
	left: 50%;
}

.slick-arrow {
	background: none;
	border: none;
	font-size: 0;
}

.slick-dots {
	bottom: 37px;
	transform: translate(-50%, -50%);
	left: 50%;
	max-width: 110px;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	height: 10px;
}
