footer {
	h4 {
		font-size: 20px;
		font-weight: 700;
		line-height: 146%;
	}

	a {
		color: #85899c;
		font-size: 16px;
		font-weight: 400;
		line-height: 160.5%;
	}
	.footer-container {
		margin-top: 41px;
		max-width: 1140px;
		padding: 0;
		width: 100%;
		&:before {
			content: "";
			position: static;
			display: inline-block;
			height: 2px;
			background-color: #e58d35;
			margin: 0 auto;
		}
		.footer-nav {
			margin-top: 27px;
			.contacts-info {
				max-width: 263px;
				width: 100%;
				padding-top: 5px;
				font-size: 14px;
				font-weight: 400;
				line-height: 162.5%;
				.footer-logo {
					margin-bottom: 30px;
				}
				.footer-email {
					a {
						color: #fff;
						font-size: 14px;
						font-weight: 400;
						line-height: 162.5%;
					}
				}
				.footer-adress {
					margin-bottom: 20px;
				}
				.footer-networks {
					a {
						margin-right: 5px;
						text-decoration: none;
					}
				}
			}
			.footer-navbar {
				max-width: 784px;
				width: 100%;
				padding-right: 78px;
				.navbar-item {
					h4 {
						margin-bottom: 15px;
					}
					ul {
						li {
							margin-bottom: 7px;
						}
					}
					&:nth-child(2) {
						padding-left: 22px;
					}
				}
			}
		}
	}
}
