.navbar {
	.container-fluid {
		max-width: 1920px;
		width: 100%;
		padding: 12px 85px;
		.navbar-brand {
			margin-right: 158px;
		}
		.navbar-collapse {
			justify-content: space-between;
			.navbar-nav {
				margin-right: 158px;
				.nav-item {
					.nav-link {
						color: var(--black);
						font-size: 16px;
						letter-spacing: 0.32px;
						&:hover {
							opacity: 0.7;
							transition: 700ms;
						}
					}
				}
			}
		}
	}
}
