<section class="advantages container-fluid">
	<div class="container">
		<div class="advantages-title title-secondary">
			<h2>Почему стоит выбрать именно нас?</h2>
		</div>
		<div id="advantages-slider" class="row">
			<div class="advantages-box col-lg-3">
				<img class="box-img" src="assets/img/box-img-1.svg" />
				<p class="box-description">
					Таможенное <br />
					оформление груза
				</p>
			</div>
			<div class="advantages-box col-lg-3">
				<img class="box-img" src="assets/img/box-img-2.svg" />
				<p class="box-description">Страховка груза</p>
			</div>
			<div class="advantages-box col-lg-3">
				<img class="box-img" src="assets/img/box-img-3.svg" />
				<p class="box-description">
					Проверка товара <br />
					на брак
				</p>
			</div>
			<div class="advantages-box col-lg-3">
				<img class="box-img" src="assets/img/box-img-4.svg" />
				<p class="box-description">
					Доставка <br />
					в любой город Украины
				</p>
			</div>
			<div class="advantages-box col-lg-3">
				<img class="box-img" src="assets/img/box-img-5.svg" />
				<p class="box-description">
					Консолидация <br />
					на складе
				</p>
			</div>
			<div class="advantages-box col-lg-3">
				<img class="box-img" src="assets/img/box-img-6.svg" />
				<p class="box-description">
					Ответственное <br />
					хранение груза
				</p>
			</div>
			<div class="advantages-box col-lg-3">
				<img class="box-img" src="assets/img/box-img-7.svg" />
				<p class="box-description">
					Помощь в <br />
					оплате товара
				</p>
			</div>
			<div class="advantages-box col-lg-3">
				<img class="box-img" src="assets/img/box-img-8.svg" />
				<p class="box-description">
					Упаковка, переупаковка, паллетирование груза к международной перевозке
				</p>
			</div>
		</div>
	</div>
</section>
