<section id="calculation-part" class="calculation">
	<div class="container">
		<div class="calculation-title title-primary">
			<h2>Получить рассчет стоимости доставки вашего груза</h2>
		</div>
		<form class="calculation-form">
			<div class="input-row">
				<div class="input-column col-12">
					<div class="input-box">
						<label>Категория товара:</label>
						<input type="text" placeholder="Категория товара" />
					</div>
					<div class="input-box">
						<label>Вес груза (кг):</label>
						<input type="text" placeholder="Введите вес" />
					</div>
				</div>

				<div class="input-column col-12">
					<div class="input-box">
						<label>Стоимость груза:</label>
						<input type="text" placeholder="Введите стоимость груза" />
					</div>
					<div class="input-box">
						<label>Объем груза (м3):</label>
						<input type="text" placeholder="Введите объем" />
					</div>
				</div>
			</div>

			<div class="input-row">
				<div class="input-column check-cont col-12">
					<div class="input-box">
						<input id="insurance" type="checkbox" />
						<label for="insurance">Страховка</label>
					</div>
					<div class="input-box">
						<input id="regist" type="checkbox" />
						<label for="regist">Таможенное оформление</label>
					</div>
				</div>
				<div class="input-column col-12">
					<div class="input-box">
						<label>Код ТН ВЭД:</label>
						<input type="text" placeholder="Введите код" />
					</div>
				</div>
			</div>

			<div class="input-row">
				<div class="input-column file-cont col-12">
					<div class="input-box">
						<div id="file-name">Фотография.jpg</div>
						<label for="file">Загрузить фото товара</label>
						<input id="file" type="file" />
					</div>
				</div>
			</div>

			<div class="input-row">
				<div class="input-column col-12">
					<div class="input-box">
						<button class="btn btn-third">Следующий шаг</button>
					</div>
				</div>
			</div>
		</form>
		<div class="calculation-img-cont">
			<img class="calculation-img" src="assets/img/calculation-img.png" />
		</div>
	</div>
</section>
