<section class="delivery container-fluid">
	<div class="container">
		<div class="delivery-title title-third">
			<h2>Варианты доставки грузов из Китая</h2>
		</div>
		<div class="delivery-cards template-cards">
			<div class="delivery-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/cardbox-img-1.png" />
				</div>
				<div class="cardbox-title">Авто - обычная</div>
				<div class="cardbox-info">
					<span class="info-attr info-time">9-15 дней</span>
					<span class="info-attr info-weight">от 5 кг</span>
				</div>
				<div class="cardbox-price">
					<span class="price-attr">от</span>
					<p>2,5</p>
					<span>$/кг</span>
				</div>
				<div class="cardbox-btn">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>

			<div class="delivery-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/cardbox-img-2.png" />
				</div>
				<div class="cardbox-title">Авто - ускоренная</div>
				<div class="cardbox-info">
					<span class="info-attr info-time">9-15 дней</span>
					<span class="info-attr info-weight">от 5 кг</span>
				</div>
				<div class="cardbox-price">
					<span class="price-attr">от</span>
					<p>2,5</p>
					<span>$/кг</span>
				</div>
				<div class="cardbox-btn">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>

			<div class="delivery-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/cardbox-img-3.png" />
				</div>
				<div class="cardbox-title">Авиа</div>
				<div class="cardbox-info">
					<span class="info-attr info-time">9-15 дней</span>
					<span class="info-attr info-weight">от 5 кг</span>
				</div>
				<div class="cardbox-price">
					<span class="price-attr">от</span>
					<p>2,5</p>
					<span>$/кг</span>
				</div>
				<div class="cardbox-btn">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>

			<div class="delivery-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/slider-img1.svg" />
				</div>
				<div class="cardbox-title">Море</div>
				<div class="cardbox-info">
					<span class="info-attr info-time">9-15 дней</span>
					<span class="info-attr info-weight">от 5 кг</span>
				</div>
				<div class="cardbox-price">
					<span class="price-attr">от</span>
					<p>2,5</p>
					<span>$/кг</span>
				</div>
				<div class="cardbox-btn">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>

			<div class="delivery-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/cardbox-img-4.png" />
				</div>
				<div class="cardbox-title">Ж/д</div>
				<div class="cardbox-info">
					<span class="info-attr info-time">9-15 дней</span>
					<span class="info-attr info-weight">от 5 кг</span>
				</div>
				<div class="cardbox-price">
					<span class="price-attr">от</span>
					<p>2,5</p>
					<span>$/кг</span>
				</div>
				<div class="cardbox-btn">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>
		</div>
	</div>
</section>
