<section class="first-screen">
	<div class="container-xxl">
		<div class="slider-cont">
			<div
				class="slide"
				style="background-image: url(assets/img/slider-img1.svg)"
			>
				<div class="container">
					<h1 class="first-screen-title">Прямое КАРГО из Китая</h1>
					<h3 class="first-screen-subtitle">
						Доставляем любые грузы из Китая по честной цене
					</h3>
					<button class="btn btn-secondary">Рассчитать стоимость</button>
				</div>
			</div>
			<div
				class="slide"
				style="background-image: url(assets/img/slider-img2.svg)"
			>
				<div class="container">
					<h1 class="first-screen-title">Выкуп товара с ТаоБао, 1688</h1>
					<h3 class="first-screen-subtitle">
						Выкуп и доставка товаров с китайских торговых площадок.
					</h3>
					<button class="btn btn-secondary">Рассчитать стоимость</button>
				</div>
			</div>
			<div
				class="slide"
				style="background-image: url(assets/img/slider-img3.svg)"
			>
				<div class="container">
					<h1 class="first-screen-title">Экспресс авто доставка</h1>
					<h3 class="first-screen-subtitle">
						Доставляем любые грузы по честной цене
					</h3>
					<button class="btn btn-secondary">Рассчитать стоимость</button>
				</div>
			</div>
			<div
				class="slide"
				style="background-image: url(assets/img/slider-img4.svg)"
			>
				<div class="container">
					<h1 class="first-screen-title">Прямое КАРГО из Китая</h1>
					<h3 class="first-screen-subtitle">
						Доставляем любые грузы из Китая по честной цене
					</h3>
					<button class="btn btn-secondary">Рассчитать стоимость</button>
				</div>
			</div>
		</div>
		<div class="first-screen-nav"></div>
	</div>
</section>
