<section class="services container-fluid">
	<div class="container">
		<div class="services-title title-secondary">
			<h2>Услуги</h2>
		</div>
		<div class="services-cards template-cards">
			<div class="services-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/services-img-1.png" />
				</div>
				<div class="cardbox-title">Выкуп товара</div>
				<div class="cardbox-info">
					Компания - это полный комплекс логистических услуг по доставке грузов
					из Китая в Украину - сборные грузы и цельные товарные партии, услуги
					посредника ТаоБао, КАРГО Китай-Украина.
				</div>
				<div class="cardbox-btn">
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>
			<div class="services-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/services-img-3.png" />
				</div>
				<div class="cardbox-title">Выкуп товара</div>
				<div class="cardbox-info">
					Компания - это полный комплекс логистических услуг по доставке грузов
					из Китая в Украину - сборные грузы и цельные товарные партии, услуги
					посредника ТаоБао, КАРГО Китай-Украина.
				</div>
				<div class="cardbox-btn">
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>
			<div class="services-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/services-img-2.png" />
				</div>
				<div class="cardbox-title">Выкуп товара</div>
				<div class="cardbox-info">
					Компания - это полный комплекс логистических услуг по доставке грузов
					из Китая в Украину - сборные грузы и цельные товарные партии, услуги
					посредника ТаоБао, КАРГО Китай-Украина.
				</div>
				<div class="cardbox-btn">
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>
			<div class="services-cardbox">
				<div class="cardbox-img">
					<img src="assets/img/services-img-4.png" />
				</div>
				<div class="cardbox-title">Выкуп товара</div>
				<div class="cardbox-info">
					Компания - это полный комплекс логистических услуг по доставке грузов
					из Китая в Украину - сборные грузы и цельные товарные партии, услуги
					посредника ТаоБао, КАРГО Китай-Украина.
				</div>
				<div class="cardbox-btn">
					<button class="btn-fourth">Подробнее</button>
				</div>
			</div>
		</div>
	</div>
</section>
